/* RESETS AND VARIABLES */

body {
  min-height: 100%;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

  /* VARIABLES */
  --color-bg-main: #111111;
  --color-bg-secondary: #252525;
  --color-accent: #ecca1b;
  --color-light: #ffffff;

  --font-tiny: 1.6em;
  --font-small: 2.4em;
  --font-med: 3.2em;
  --font-big: 4.8em;
  --font-huge: 6.4em;
}

/* TYPHOGRAFY */

h1 {
  font-size: var(--font-med);
}

h2 {
  font-size: var(--font-small);
}

body {
  font-size: var(--font-small);
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1000px) {
  h1 {
    font-size: var(--font-big);
  }

  h2 {
    font-size: var(--font-med);
  }

  body {
    font-size: var(--font-small);
  }
}

/* GENERAL STYLES */

body {
  background-color: var(--color-bg-main);
  color: var(--color-light);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  border-radius: 15px;
  font-size: var(--font-tiny);
  color: var(--color-bg-main);
  background-color: var(--color-accent);
  font-weight: 700;
}

@media (min-width: 900px) {
  .button {
    font-size: var(--font-small);
    padding: 0.5em 1.5em;
  }
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 161px;
}

.shape-divider .shape-fill {
  fill: #252525;
}

/* MENU BAR*/

.menubar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: red;
  background-color: transparent;
}

@media screen and (min-width: 700px) {
}

/* SPLASH SECTION */

.splash {
  display: grid;
  align-self: center;
  justify-self: center;
  max-width: 90vw;
  margin: 0 auto 50px auto;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  grid-template-rows: 300px repeat(4, auto);
  row-gap: 2em;
  grid-template-areas:
    'logo'
    'title'
    'subtitle'
    'photo'
    'cta';
}

.splash__logo {
  max-width: 150px;
  grid-area: logo;
  align-self: center;
  justify-self: center;
}

.splash__title {
  font-size: var(--font-small);
  grid-area: title;
  text-transform: uppercase;
  max-width: 700px;
  justify-self: center;
  align-self: center;
}

.splash__subtitle {
  font-size: var(--font-tiny);
  grid-area: subtitle;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
}

.splash__photo {
  max-width: 200px;
  border-radius: 50%;
  grid-area: photo;
  justify-self: center;
  margin: 0 auto;
  margin-bottom: 2em;
}

.button--cta {
  grid-area: cta;
  justify-self: center;
  align-self: center;
}

.bg-svg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Tablet size */
@media (min-width: 600px) {
  .splash {
    max-width: 100vw;
    column-gap: 3em;
    align-content: center;
    row-gap: 0;
    margin: 0 auto;
    padding: 0 1em;
    grid-template-areas:
      'logo     photo'
      'title    photo'
      'subtitle photo'
      'cta      photo';
  }

  .splash__title {
    margin-bottom: 1em;
  }

  .splash__subtitle {
    margin-bottom: 1em;
  }

  .splash__logo {
    max-width: 200px;
    margin-bottom: 2em;
  }

  .splash__photo {
    align-self: center;
    max-width: 250px;
    width: auto;
  }
}

/* Desktop Size */
@media (min-width: 900px) {
  .splash {
    column-gap: 5em;
  }
  .splash__logo {
    justify-content: flex-start;
  }
  .splash__title {
    font-size: var(--font-med);
  }
  .splash__subtitle {
    font-size: var(--font-small);
  }

  .splash__logo {
    max-width: 250px;
  }

  .splash__photo {
    max-width: 300px;
  }
}

/* Ultra Wide Screens */
@media (min-width: 1200px) {
  .splash {
    column-gap: 15em;
  }
}
