/* RESETS AND VARIABLES */

body {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

  /* VARIABLES */
  --color-bg-main: #111;
  --color-bg-main-transp: #111d;
  --color-bg-secondary: #252525;
  --color-accent: #ecca1b;
  --color-light: #fff;

  --font-tiny: 1.6em;
  --font-small: 2.4em;
  --font-med: 3em;
  --font-big: 4.8em;
  --font-huge: 6.4em;
}

/* TYPHOGRAFY */

h1 {
  font-size: var(--font-med);
}

h2 {
  font-size: var(--font-small);
}

body {
  font-size: var(--font-small);
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1000px) {
  h1 {
    font-size: var(--font-big);
  }

  h2 {
    font-size: var(--font-med);
  }

  body {
    font-size: var(--font-small);
  }
}

/* GENERAL STYLES */

body {
  background-color: var(--color-bg-main);
  color: var(--color-light);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  border-radius: 15px;
  font-size: var(--font-tiny);
  color: var(--color-bg-main);
  background-color: var(--color-accent);
  font-weight: 700;
  transition: opacity 250ms ease-in;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

@media (min-width: 900px) {
  .button {
    font-size: var(--font-small);
    padding: 0.5em 1.5em;
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  justify-items: center;
}

.bg--secondary {
  background-color: var(--color-bg-secondary);
}

.fa-5x {
  font-size: 4em;
}

@media (min-width: 600px) {
  .fa-5x {
    font-size: 5em;
  }
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 161px;
}

.shape-divider .shape-fill {
  fill: #252525;
}

/* --------------------------------------- */
/* SPLASH SECTION */
/* --------------------------------------- */

.splash {
  display: grid;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  row-gap: 1em;
  grid-template-areas:
    'logo'
    'title'
    'subtitle'
    'photo'
    'cta';
}

.splash__logo {
  max-width: 150px;
  grid-area: logo;
  align-self: center;
  justify-self: center;
}

.splash__title {
  font-size: var(--font-small);
  grid-area: title;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
  margin-bottom: 0.5em;
}

.splash__subtitle {
  margin-bottom: 0.5em;
  font-size: var(--font-tiny);
  grid-area: subtitle;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
}

.splash__photo {
  max-width: 200px;
  border-radius: 50%;
  grid-area: photo;
  justify-self: center;
  margin: 0 auto;
  margin-bottom: 2em;
}

.button--cta {
  grid-area: cta;
  justify-self: center;
  align-self: center;
}

.bg-svg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Low Res Viewports */
@media (max-width: 400px) and (min-height: 500px) {
  .splash__logo {
    max-width: 130px;
  }

  .splash__photo {
    max-width: 120px;
    margin-bottom: 0.5em;
  }
}

/* Tablet size */
@media (min-width: 600px) {
  .splash {
    column-gap: 3em;
    align-content: center;
    row-gap: 0;
    margin: 0 auto;
    padding: 0 1em;
    grid-template-areas:
      'logo     photo'
      'title    photo'
      'subtitle photo'
      'cta      photo';
  }

  .splash__title {
    margin-bottom: 1em;
  }

  .splash__subtitle {
    margin-bottom: 1em;
  }

  .splash__logo {
    max-width: 200px;
    margin-bottom: 2em;
  }

  .splash__photo {
    align-self: center;
    max-width: 250px;
    width: auto;
  }
}

/* Desktop Size */
@media (min-width: 900px) {
  .splash {
    column-gap: 5em;
  }
  .splash__logo {
    justify-content: flex-start;
  }
  .splash__title {
    font-size: var(--font-med);
  }
  .splash__subtitle {
    font-size: var(--font-small);
  }

  .splash__logo {
    max-width: 250px;
  }

  .splash__photo {
    max-width: 300px;
  }
}

/* Ultra Wide Screens */
@media (min-width: 1200px) {
  .splash {
    column-gap: 15em;
  }
}

/* --------------------------------------- */
/* HOLA SECTION */
/* --------------------------------------- */

.container--hola {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/Hola.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hola {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 95vw;
  max-width: calc(var(--vw, 1vw) * 95);
  padding: 0 1em;
}

.hola__main {
  margin-top: 50px;
}

.hola h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
  font-size: var(--font-big);
}

.hola p {
  margin-bottom: 1em;
  font-size: var(--font-small);
  text-align: justify;
  font-weight: 500;
}

.hola p:last-child {
  margin-bottom: 0;
}

.hola__secondary {
  display: none;
}

.hola__secondary img {
  border-radius: 40px;
}

/* Low Res Viewports */
@media (max-width: 400px) and (min-height: 500px) {
  .hola__main {
    margin-top: 0;
  }
  .hola__main h1 {
    font-size: var(--font-med);
  }

  .hola p {
    margin-bottom: 1em;
    font-size: 1.8em;
  }
}

/* Tablet size */
@media (min-width: 600px) {
  .hola {
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
  }

  .hola__main h1 {
    margin-top: 0;
  }
}

/* Desktop size */
@media (min-width: 900px) {
  .container--hola {
    background: none;
    padding: 0;
  }

  .hola {
    margin-top: 0;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .hola__main {
    max-width: 700px;
  }

  .hola__secondary {
    display: flex;
    max-width: 400px;
    margin-right: 3em;
    max-height: 85vh;
    border: solid red 1px
  }
}

/* Ultra Wide Screens */
@media (min-width: 1100px) {
  .hola__main h1 {
    font-size: var(--font-huge);
  }

  .hola__main p {
    font-size: var(--font-med);
  }

  .hola__secondary {
    max-width: 550px;
    transform: translateY(50px);
  }
}

/* low height screens */
@media (min-width: 900px) and (max-height: 650px) {
  .hola__main h1 {
    font-size: var(--font-big);
  }

  .hola__main p {
    font-size: var(--font-small);
  }
  .hola__secondary {
    max-width: 400px;
    transform: translateY(30px);
  }
}

/* FOTO SECTION */

.fotografia {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1em;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.fotografia h1 {
  margin-top: 3em;
  font-size: var(--font-med);
}

.foto-gallery {
  margin-top: 1em;
  height: 70vh;
  height: calc(var(--vh, 1vh) * 70);
}

.foto-gallery__cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.foto-gallery__cell img {
  max-width: 100%;
  object-fit: cover;
}

/* low height screens */
@media (max-width: 400px) and (min-height: 500px) {
  .fotografia h1 {
    margin-top: 1.5em;
  }
}

/* Tablet size */
@media (min-width: 600px) {
  .foto-gallery {
    margin-top: 2em;
  }
  .foto-gallery__cell {
    width: 80%;
  }
  .foto-gallery__cell.is-selected {
    transform: scale(1.2);
    margin: 0 20px;
    z-index: 2;
    transition: transform 300ms;
  }
}

/* Desktop size */
@media (min-width: 900px) {
  .foto-gallery__cell {
    width: 50%;
  }

  .foto-gallery__cell.is-selected {
    transform: scale(1.3);
  }
}

/* Ultra Wide Screens */
@media (min-width: 1100px) {
  .fotografia h1 {
    margin-top: 2em;
    font-size: var(--font-big);
  }
}

/* Low height Screens */
@media (min-width: 900px) and (max-height: 650px) {
  .fotografia h1 {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: var(--font-med);
  }
  .foto-gallery__cell.is-selected {
    transform: scale(1.1);
  }
}

/* VIDEOS SECTION */
.videos {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

.videos h1 {
  margin-top: 1.5em;
  font-size: var(--font-med);
  text-transform: uppercase;
}

.video-gallery {
  width: 95%;
  height: 70vh;
  height: calc(var(--vh, 1vh) * 70);
  margin: 2em auto;
}

.video-gallery__video {
  height: 100%;
  width: 100%;
  border: 0;
}

.video-gallery__cell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

/* Tablet size */
@media (min-width: 600px) {
  .videos h1 {
    margin-top: 3em;
    font-size: var(--font-med);
    text-transform: uppercase;
  }
}
