/* RESETS AND VARIABLES */

body {
  min-height: 100%;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

  /* VARIABLES */
  --color-bg-main: #111;
  --color-bg-main-transp: #111d;
  --color-bg-secondary: #252525;
  --color-accent: #ecca1b;
  --color-light: #fff;

  --font-tiny: 1.6em;
  --font-small: 2.4em;
  --font-med: 3.2em;
  --font-big: 4.8em;
  --font-huge: 6.4em;
}

/* TYPHOGRAFY */

h1 {
  font-size: var(--font-med);
}

h2 {
  font-size: var(--font-small);
}

body {
  font-size: var(--font-small);
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1000px) {
  h1 {
    font-size: var(--font-big);
  }

  h2 {
    font-size: var(--font-med);
  }

  body {
    font-size: var(--font-small);
  }
}

/* GENERAL STYLES */

body {
  background-color: var(--color-bg-main);
  color: var(--color-light);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  border-radius: 15px;
  font-size: var(--font-tiny);
  color: var(--color-bg-main);
  background-color: var(--color-accent);
  font-weight: 700;
  transition: opacity 250ms ease-in;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

@media (min-width: 900px) {
  .button {
    font-size: var(--font-small);
    padding: 0.5em 1.5em;
  }
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 161px;
}

.shape-divider .shape-fill {
  fill: #252525;
}

/* MENU BAR*/

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
  z-index: 2;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: var(--color-bg-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburguer Lines */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background-color: inherit;
}

.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn Lines into a X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 500ms;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 250ms ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background-color: var(--color-bg-main-transp);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 250ms ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 250ms ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--color-light);
  font-size: var(--font-big);
  margin-bottom: 100px;
}

.menu-wrap .menu > div > div > ul > li:last-child {
  margin-bottom: 0;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: color 250ms ease;
}

/* SPLASH SECTION */

.splash {
  display: grid;
  align-self: center;
  justify-self: center;
  margin: 0 auto 50px auto;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  grid-template-rows: 300px repeat(4, auto);
  row-gap: 2em;
  grid-template-areas:
    'logo'
    'title'
    'subtitle'
    'photo'
    'cta';
}

.splash__logo {
  max-width: 150px;
  grid-area: logo;
  align-self: center;
  justify-self: center;
}

.splash__title {
  font-size: var(--font-small);
  grid-area: title;
  text-transform: uppercase;
  max-width: 700px;
  justify-self: center;
  align-self: center;
}

.splash__subtitle {
  font-size: var(--font-tiny);
  grid-area: subtitle;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
}

.splash__photo {
  max-width: 200px;
  border-radius: 50%;
  grid-area: photo;
  justify-self: center;
  margin: 0 auto;
  margin-bottom: 2em;
}

.button--cta {
  grid-area: cta;
  justify-self: center;
  align-self: center;
}

.bg-svg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Tablet size */
@media (min-width: 600px) {
  .splash {
    column-gap: 3em;
    align-content: center;
    row-gap: 0;
    margin: 0 auto;
    padding: 0 1em;
    grid-template-areas:
      'logo     photo'
      'title    photo'
      'subtitle photo'
      'cta      photo';
  }

  .splash__title {
    margin-bottom: 1em;
  }

  .splash__subtitle {
    margin-bottom: 1em;
  }

  .splash__logo {
    max-width: 200px;
    margin-bottom: 2em;
  }

  .splash__photo {
    align-self: center;
    max-width: 250px;
    width: auto;
  }
}

/* Desktop Size */
@media (min-width: 900px) {
  .splash {
    column-gap: 5em;
  }
  .splash__logo {
    justify-content: flex-start;
  }
  .splash__title {
    font-size: var(--font-med);
  }
  .splash__subtitle {
    font-size: var(--font-small);
  }

  .splash__logo {
    max-width: 250px;
  }

  .splash__photo {
    max-width: 300px;
  }
}

/* Ultra Wide Screens */
@media (min-width: 1200px) {
  .splash {
    column-gap: 15em;
  }
}
